.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
  //first adjustment- removing the rose background
  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}
.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: white;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;

  //adjustment #8 - moving the search bar down
  @media only screen and (max-width: $bp-smallest) {
    flex-wrap: wrap;
    height: 11rem;
    align-content: space-around;
  }
}
.content {
  display: flex;
  // adjustment #3- removing the menu column and placing it above the main container
  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}
.sidebar {
  background-color: var(--color-grey-dark-1);

  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: $bp-medium) {
    // flex-direction: row;
  }
}
.hotel-view {
  flex: 1;
}
.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
  font-size: 1.4rem;

  //adjustment #4 - reducing padding
  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  //adjustment #5 - making both flex items occupy 100% of the width - changing the flex direction
  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}
.description {
  background-color: white;
  box-shadow: var(--shadow-light);
  flex: 0 0 60%; //this element occupies 60% of the parent
  margin-right: 4.5rem;
  padding: 3rem;

  //adjustment #4 - reducing padding
  @media only screen and (max-width: $bp-medium) {
    padding: 1.5rem;
    margin-right: 3rem;
  }
  //adjustment #5 - making both flex items occupy 100% of the width - changing the flex direction
  @media only screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
.user-reviews {
  flex: 1; //the element will occupy the remaining space
  display: flex;
  flex-direction: column;
  align-items: center;
}
